@{
    ViewBag.Title = "Caroline cottage information";
}
<h2>
    The cottage
</h2>
<ul class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home") <span class="divider"></span></li>
    <li class="active">About the cottage</li>
</ul>
<div>    
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#tab-cottage" aria-controls="tab-cottage" role="tab" data-toggle="tab">Caroline cottage <span class="glyphicon glyphicon-book" aria-hidden="true"></span> </a>
        </li>
        <li role="presentation">
            <a href="#tab-pics-outside" aria-controls="tab-pics-outside" role="tab" data-toggle="tab">The cottage - outside and views <span class="glyphicon glyphicon-camera"></span></a>
        </li>
        <li role="presentation">
            <a href="#tab-pics-living" aria-controls="tab-pics-living" role="tab" data-toggle="tab">The living areas <span class="glyphicon glyphicon-camera"></span></a>
        </li>
        <li role="presentation">
            <a href="#tab-pics-bedrooms" aria-controls="tab-pics-bedrooms" role="tab" data-toggle="tab">The bedrooms <span class="glyphicon glyphicon-camera"></span></a>
        </li>
        <li role="presentation">
            <a href="#tab-pics-dungeon" aria-controls="tab-pics-dungeon" role="tab" data-toggle="tab">Our Dungeon annexe <span class="glyphicon glyphicon-camera"></span></a>
        </li>
    </ul>
    
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="tab-cottage">
            @{ Html.RenderPartial("CottageInformation"); }
        </div>
        <div role="tabpanel" class="tab-pane" id="tab-pics-outside">
            
            @{ Html.RenderPartial("CottageOutsidePics"); }
        </div>
        <div role="tabpanel" class="tab-pane" id="tab-pics-living">
            @{ Html.RenderPartial("CottageLivingPics"); }
        </div>
        <div role="tabpanel" class="tab-pane" id="tab-pics-bedrooms">
            @{ Html.RenderPartial("CottageBedroomPics"); }
        </div>
        <div role="tabpanel" class="tab-pane" id="tab-pics-dungeon">
            @{ Html.RenderPartial("CottageDungeonPics"); }
        </div>


    </div>       
</div>
