<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-135071304-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-135071304-1');
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewBag.Title</title>


    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/Utilities.js"></script>
    <script src="~/Scripts/local/home.js"></script>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />



</head>
<body>
    <div class="container">
        @*<img class="img-circle" src="~/Content/imagesmain/slab_small.jpg" />*@
        <img src="~/Content/imagesmain/title.gif" alt="Caroline Cottage" />
        @RenderBody()
        <footer>
            <hr />
            <div>
                <span>
                    <a id="viewPrivacy" href="#" title="Click to view"><span class="label label-info">Privacy statement</span></a>
                </span>
                <span>
                    &nbsp;| <a href="https://www.facebook.com/CarolineCottageMousehole/" target="_blank" class="facebook"><i class="fa fa-facebook"></i> Facebook</a>
                </span>
                <span>
                    &nbsp;| Website © 200<a href="~/admin">7</a>,@DateTime.Now.Year.ToString() Pugwash Worldwide Communications
                </span>
            </div>
        </footer>
    </div>

    <div class="modal modal-lg container fade" tabindex="-1" role="dialog" id="privacyModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title">Caroline Cottage privacy statement<small></small></h3>
                </div>


                <div id="privacyBody"class="modal-body">


                </div><!-- /.modal-body -->
                <div class="modal-footer">
                    <div class=col-md-offset-3 col-md-9">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
                <!-- /.modal-footer -->

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</body>

</html>
<script type="text/javascript">

    $(document).ready(function () {

        $("#viewPrivacy").click(function (e) {            

            var jqxhr1 = $.ajax({
                type: 'POST', url: "/Home/PrivacyStatement"
            });
            $.when(jqxhr1).done(function (responseStatement, textStatus, jqXHR) {
                $("#privacyBody").html(responseStatement);
                $('#privacyModal').modal({ backdrop: 'static' });    
            });
        });


    }); // end of doc ready
    

</script>
