<p>
    We had a fantastic time in Cornwall despite the cold weather. We thought Caroline
    Cottage was wonderful and it was such a treat to stay there. Very comfortable and
    equipped with everything we needed. It has a lovely feel to it and it was great
    having all the books and DVDs to hand. The views from the balcony were stunning
    and we watched The Scillonian make her first Spring voyage over to Scilly ...
</p>
<p>
    … the views from Caroline Cottage have inspired me to do some painting for the first
    time in 6 years… Mousehole is such an interesting little place, with so much history…
    I will treasure the memory of the view from the balcony for a long time…
</p>
<p>
    The cottage and the town felt like home, and the people here made us feel very welcome…
</p>
<p>
    What a wonderful treat it has been to be a guest in your beautiful cottage. To find
    it in such fantastic condition, so welcoming…The views, the seagulls and the harbour
    provide a perfect backdrop for wine on the balcony…
</p>
<p>
    We won’t waste space listing all the things we enjoyed because we enjoyed absolutely
    everything, especially Caroline Cottage and the Ship Inn.
</p>
<p>
    This is the most comfortable and well-equipped cottage I have ever seen and our
    stay has been a joy…
</p>
<p>
    Cottage as good as it looks on the website. Home from home
</p>
<p>
    … a restful oasis…
</p>