<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-responsive img-thumbnail center-block" src="~/Content/images3/IMG_1738 (427x640).jpg" alt="" data-toggle="tooltip" title="The double bedroom" />
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-responsive img-thumbnail center-block" src="~/Content/images3/IMG_1740 (640x427).jpg" alt="" data-toggle="tooltip" title="The double bedroom" />
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-responsive img-thumbnail center-block" src="~/Content/images3/IMG_1730 (640x427).jpg" alt="" data-toggle="tooltip" title="The twin bedroom" />
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-responsive img-thumbnail center-block" src="~/Content/images3/IMG_1732 (427x640).jpg" alt="" data-toggle="tooltip" title="The twin bedroom" />
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-responsive img-thumbnail center-block" src="~/Content/images3/IMG_1734 (427x640).jpg" alt="" data-toggle="tooltip" title="The bunk room" />
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-responsive img-thumbnail center-block" src="~/Content/images3/IMG_1727 (640x427).jpg" alt="" data-toggle="tooltip" title="The bathroom" />
        </div>
    </div>
</div>
