
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-responsive img-thumbnail center-block" src="~/Content/images/view2b.jpg" alt="" data-toggle="tooltip" title="The cottage from the harbour" />
        </div>
        @*<div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-responsive img-thumbnail center-block" src="~/Content/images/front3a.jpg" alt="" data-toggle="tooltip" title="Caroline Cottage" />
        </div>*@
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-responsive img-thumbnail center-block" src="~/Content/images/back1.jpg" alt="" data-toggle="tooltip" title="Balcony" />
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-responsive img-thumbnail center-block" src="~/Content/images/cottage09.jpg" alt="" data-toggle="tooltip" title="View from the balcony at dawn with St Michael's Mount" />
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-responsive img-thumbnail center-block" src="~/Content/images3/IMG_1894 (640x427).jpg" alt="" data-toggle="tooltip" title="Scillonian passes at dusk" />
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-responsive img-thumbnail center-block" src="~/Content/images3/IMG_1756 (640x427).jpg" alt="" data-toggle="tooltip" title="Part of balcony view" />
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-responsive img-responsive img-thumbnail center-block" src="~/Content/images3/IMG_1794 (640x427).jpg" alt="" data-toggle="tooltip" title="" />
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-responsive img-responsive img-thumbnail center-block" src="~/Content/images3/110720 071.jpg" alt="" data-toggle="tooltip" title="Balcony view with St Michaels Mount" />
        </div>
        @*<div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-responsive img-responsive img-thumbnail center-block" src="~/Content/images3/024 (640x480).jpg" alt="" data-toggle="tooltip" title="" />
        </div>*@
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-responsive img-thumbnail center-block" src="~/Content/images/front2.jpg" alt="" data-toggle="tooltip" title="Caroline Cottage" />
        </div>

    </div>
</div>