<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-responsive img-thumbnail center-block" src="~/Content/images3/111022 032 (640x480).jpg" alt="" data-toggle="tooltip" title="The Dungeon" />
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-responsive img-thumbnail center-block" src="~/Content/images3/111022 029 (480x640).jpg" alt="" data-toggle="tooltip" title="The Dungeon" />
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-responsive img-thumbnail center-block" src="~/Content/images3/111022 030 (640x480).jpg" alt="" data-toggle="tooltip" title="The Dungeon" />
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-responsive img-thumbnail center-block" src="~/Content/images3/111022 033 (640x480).jpg" alt="" data-toggle="tooltip" title="The Dungeon" />
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-responsive img-thumbnail center-block" src="~/Content/images3/111022 028 (640x480).jpg" alt="" data-toggle="tooltip" title="The Dungeon" />
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-responsive img-thumbnail center-block" src="~/Content/images3/111022 026 (480x640).jpg" alt="" data-toggle="tooltip" title="The Dungeon" />
        </div>
    </div>
</div>
