<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-responsive img-thumbnail center-block" src="~/Content/imagesmain/dungeon01.jpg" alt="" data-toggle="tooltip" title="The Dungeon" />
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-responsive img-thumbnail center-block" src="~/Content/imagesmain/dungeon02.jpg" alt="" data-toggle="tooltip" title="The Dungeon" />
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-responsive img-thumbnail center-block" src="~/Content/imagesmain/dungeon03.jpg" alt="" data-toggle="tooltip" title="The Dungeon" />
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-responsive img-thumbnail center-block" src="~/Content/imagesmain/dungeon04.jpg" alt="" data-toggle="tooltip" title="The Dungeon" />
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-responsive img-thumbnail center-block" src="~/Content/imagesmain/dungeon05.jpg" alt="" data-toggle="tooltip" title="The Dungeon" />
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-responsive img-thumbnail center-block" src="~/Content/imagesmain/dungeon06.jpg" alt="" data-toggle="tooltip" title="The Dungeon" />
        </div>
    </div>
</div>
