
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-responsive img-thumbnail center-block" src="~/Content/imagesmain/balcony.jpg" alt="" data-toggle="tooltip" title="The cottage from the harbour" />
        </div>        
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-responsive img-thumbnail center-block" src="~/Content/imagesmain/cottage_back.jpg" alt="" data-toggle="tooltip" title="Balcony" />
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-responsive img-thumbnail center-block" src="~/Content/imagesmain/balcony_dawn.jpg" alt="" data-toggle="tooltip" title="View from the balcony at dawn with St Michael's Mount" />
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-responsive img-thumbnail center-block" src="~/Content/imagesmain/balcony_silonian.jpg" alt="" data-toggle="tooltip" title="Scillonian passes at dusk" />
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-responsive img-thumbnail center-block" src="~/Content/imagesmain/balcony_bay.jpg" alt="" data-toggle="tooltip" title="Part of balcony view" />
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-responsive img-responsive img-thumbnail center-block" src="~/Content/imagesmain/balcony_bay2.jpg" alt="" data-toggle="tooltip" title="Mounts Bay from the balcony" />
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-responsive img-responsive img-thumbnail center-block" src="~/Content/imagesmain/balcony_stm.jpg" alt="" data-toggle="tooltip" title="Balcony view with St Michaels Mount" />
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-responsive img-thumbnail center-block" src="~/Content/imagesmain/cottage_front.jpg" alt="" data-toggle="tooltip" title="Caroline Cottage" />
        </div>

    </div>
</div>