<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-responsive img-thumbnail center-block" src="~/Content/images3/IMG_1836 (640x427).jpg" alt="" data-toggle="tooltip" title="St Michael's Mount" />
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-responsive img-thumbnail center-block" src="~/Content/images3/IMG_1854 (640x427).jpg" alt="" data-toggle="tooltip" title="St Michael's Mount" />
        </div>
    </div>
</div>


