
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-responsive img-thumbnail center-block" src="~/Content/imagesmain/mousehole_steps.jpg" alt="" data-toggle="tooltip" title="Spring flowers" />
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-responsive img-thumbnail center-block" src="~/Content/imagesmain/mousehole_lights.jpg" alt="" data-toggle="tooltip" title="Christmas lights" />
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-responsive img-thumbnail center-block" src="~/Content/imagesmain/mousehole_above.jpg" alt="" data-toggle="tooltip" title="From above Mousehole" />
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-responsive img-thumbnail center-block" src="~/Content/imagesmain/mousehole_storm.jpg" alt="" data-toggle="tooltip" title="Winter storm" />
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-responsive img-thumbnail center-block" src="~/Content/imagesmain/mousehole_wave.jpg" alt="" data-toggle="tooltip" title="Harbour walls winter wave" />
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-responsive img-thumbnail center-block" src="~/Content/imagesmain/mousehole_pool.jpg" alt="" data-toggle="tooltip" title="Natural sea-bathing pool" />
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-responsive img-thumbnail center-block" src="~/Content/imagesmain/mousehole_hjump.jpg" alt="" data-toggle="tooltip" title="Harbour jumping at high tide" />
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-responsive img-thumbnail center-block" src="~/Content/imagesmain/mousehole_2forest.jpg" alt="" data-toggle="tooltip" title="2 Fore Street restaurant" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-responsive img-thumbnail center-block" src="~/Content/imagesmain/mousehole_2forestout.jpg" alt="" data-toggle="tooltip" title="2 Fore Street restaurant" />
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-responsive img-thumbnail center-block" src="~/Content/imagesmain/mousehole_keigwin.jpg" alt="" data-toggle="tooltip" title="Keigwin Place, our house at the top" />
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-responsive img-thumbnail center-block" src="~/Content/imagesmain/mousehole_hwalls.jpg" alt="" data-toggle="tooltip" title="Harbour walls" />
        </div>
    </div>

</div>
