
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-responsive img-thumbnail center-block" src="~/Content/images/mousehole3.jpg" alt="" data-toggle="tooltip" title="Spring flowers" />
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-responsive img-thumbnail center-block" src="~/Content/images/mousehole2.jpg" alt="" data-toggle="tooltip" title="Christmas lights" />
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-responsive img-thumbnail center-block" src="~/Content/images/harbour5.jpg" alt="" data-toggle="tooltip" title="From above Mousehole" />
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-responsive img-thumbnail center-block" src="~/Content/images/storm01.jpg" alt="" data-toggle="tooltip" title="Winter storm" />
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-responsive img-thumbnail center-block" src="~/Content/images/wave.jpg" alt="" data-toggle="tooltip" title="Harbour walls winter wave" />
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-responsive img-thumbnail center-block" src="~/Content/images3/110720 064.jpg" alt="" data-toggle="tooltip" title="Natural sea-bathing pool" />
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-responsive img-thumbnail center-block" src="~/Content/images3/100710 177.jpg" alt="" data-toggle="tooltip" title="Harbour jumping at high tide" />
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-responsive img-thumbnail center-block" src="~/Content/images3/IMG_1822 (640x427).jpg" alt="" data-toggle="tooltip" title="2 Fore Street restaurant" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-responsive img-thumbnail center-block" src="~/Content/images3/IMG_1824 (640x427).jpg" alt="" data-toggle="tooltip" title="2 Fore Street restaurant" />
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-responsive img-thumbnail center-block" src="~/Content/images3/IMG_1816 (640x427).jpg" alt="" data-toggle="tooltip" title="Keigwin Place, our house at the top" />
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-responsive img-thumbnail center-block" src="~/Content/images3/IMG_1723 (640x427).jpg" alt="" data-toggle="tooltip" title="Harbour walls" />
        </div>
    </div>

</div>
