<div class="col-md-12">
    <p>
        The PENWITH PENINSULA: some of its loveliest spots are in easy reach of Mousehole
        – hidden coves like Penberth ; the Minack Theatre at Porthcurno ; Land’s End and
        the wild north-west coast ; St Ives with its Cornwall Tate Gallery; Marazion with
        its artists’ galleries and the causeway to St Michael’s Mount. Seals can sometimes
        be seen, including from the Mousehole rock pools. Basking sharks pass the coast
        in early summer.
    </p>
    <div class="pull-left">
        <div class="pull-left col-md-3 col-sm-4 col-xs-6" style="margin-right:10px">
            <img class="img-responsive img-thumbnail center-block" src="~/Content/imagesmain/penwith_curno.jpg" alt="" data-toggle="tooltip" title="Caroline Cottage" />
        </div>
        <p>
            Walks from Mousehole include to the neighbouring villages of Paul (beautiful church,
            good pub) and Sheffield, or further afield to Lamorna Cove and The Wink Inn. Regular
            minibuses run to the fishing port of Newlyn (buy local crab and fish, visit Newlyn
            Art Gallery) and to Penzance – plenty of shopping and eateries. Penzance has a mainline
            rail station and good bus services to St Ives and Marazion etc., the “Scillonian”
            ferry to the Isles of Scilly – so there are plenty of car-free options.
        </p>
    </div>
</div>