<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-responsive img-thumbnail center-block" src="~/Content/images3/100710 152.jpg" alt="" data-toggle="tooltip" title="Sennon Cove" />
        </div>       
    </div>
</div>


